[submodule "backend"]
	path = backend
	url = https://github.com/13198582183/AnanoesisShell-backend.git
	branch = main
[submodule "frontend"]
	path = frontend
	url = https://github.com/13198582183/AnanoesisShell-frontend.git
	branch = main
